services:
  api:
    build: ./api
    ports:
      - "3000:3000"
    depends_on:
      - scylladb

  scylladb:
    image: scylladb/scylla
    command: --smp 1 --memory 512M
    ports:
      - "9042:9042"

  k6:
    image: grafana/k6
    depends_on:
      - api
    volumes:
      - ./load-tests:/scripts
    command: run /scripts/tatkal.js