version: "3.9"

services:
  api:
    build: ./api
    ports:
      - "3000:3000"

  k6:
    image: grafana/k6
    depends_on:
      - api
    volumes:
      - ./load-tests:/scripts
    command: run /scripts/tatkal.js